TF_VARS_MAIN_FILE_NAME=main
DEFAULT_ENVIRONMENT_NAME=dev

TEMPLATE_AUTO_REJECT=" \
  main.template.tf \
  .parent.config \
  vars/** \
  tests/*.mod \
  required.template.tf \
  *.lock.hcl \
"
TEMPLATE_REPO_ORIGIN=repo-template
TEMPLATE_REPO_BRANCH=main
TEMPLATE_LAST_COMMIT_EPOCH=1665073475 #     2022-10-06 16:24:35
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/tf-repo-template.git
